/* Style de la classe content */
.content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2f1d6;
}

/* Style de la classe categorie */
.categorie {
    width: 90%;
    max-width: 800px; /* Largeur maximale pour le contenu */
    border-radius: 20px; /* Coins arrondis */
    padding: 20px;
}

.categorie-link {
    text-decoration: none;
}

/* Style de la table */
.table-section {
    width: 100%;
    border-collapse: collapse;
}

/* Style des sections */
.section {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 20px;
    border-radius: 20px; /* Coins arrondis */
    text-align: center;
}

.section:hover {
    transform: scale(1.05);
}

.section:active {
    transform: scale(0.95);
}

/* Style des titres h4 */
.section h4 {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(5, 168, 87);
}

/* Style des paragraphes */
.section p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

/* Media queries pour les ajustements responsives */
@media (max-width: 900px) {
    .categorie {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .categorie {
        padding: 10px;
    }
}

/* Style pour la section */
.fruit-sec {
    background-image: url("../img/categorie/fruitsec.jpg");
    background-size: cover;
    background-position: center;
}

.pomme {
    background-image: url("../img/categorie/pommes.webp");
    background-size: cover;
    background-position: center;
}

/* Style pour les contenus à l'intérieur de la section "Fruit Sec" */
.fruit-sec-content {
    position: relative;
    z-index: 1;
}

.horizontal-scroll {
    overflow-x: auto;
    background-color: #c5eeca;
    white-space: nowrap;
}

.products-container {
    display: inline-block;
}

.product {
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    background-image: url("../img/categorie/pommes.webp");
    border-radius: 10px;
    color: white;
    width: 200px; /* Réduire la largeur */
    height: 250px; /* Réduire la hauteur */
    overflow: hidden; /* Cacher le texte qui dépasse */
    text-decoration: none;
}

.product:hover {
    transform: scale(1.05);
}

.product:active {
    transform: scale(0.95);
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px; /* Réduire la marge */
}

.product-name {
    font-size: 20px; /* Réduire la taille du texte */
    font-weight: 600;
    margin-bottom: 10px; /* Ajouter un espace en bas */
    overflow: hidden; /* Cacher le texte qui dépasse */
    text-overflow: ellipsis; /* Ajouter des points de suspension */
    white-space: nowrap; /* Empêcher le saut à la ligne */
}

.product-price {
    font-size: 16px; /* Réduire la taille du texte */
    font-weight: 400;
    overflow: hidden; /* Cacher le texte qui dépasse */
    text-overflow: ellipsis; /* Ajouter des points de suspension */
    white-space: nowrap; /* Empêcher le saut à la ligne */
}

.product-description {
    font-size: 14px; /* Réduire la taille du texte */
    font-weight: 300;
    overflow: hidden; /* Cacher le texte qui dépasse */
    text-overflow: ellipsis; /* Ajouter des points de suspension */
    white-space: nowrap; /* Empêcher le saut à la ligne */
    font-size: large;
}
