.profile-section {
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin: 10px 0;
}

.profile-section h2 {
    margin-top: 0;
    color: #333;
}

.profile-info-container {
    margin-top: 20px;
}

.edit-profile-link {
    color: #007bff;
    text-decoration: none;
}

.edit-profile-link:hover {
    text-decoration: underline;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: calc(100% - 24px); /* Ajuster en fonction de la taille des boutons */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
