/* Style general */

/* allant des styles comme boby au style comme la police  */

body {
    background-color: #9d97ef;
    /* police */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* bold */
    font-weight: bold;
}
